@import "../../index.scss";
.navbar {
  padding: 0.5rem 1rem;
  display: grid;
  background: $mainBlack;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-ul {
  //   list-style-type: none;
  //   grid-template-columns: repeat(3, 1fr);
  //   display: grid;
  columns: 3; //hahahaha
}
.nav-links {
  list-style-type: none;
  grid-column: 1 / 3; /* adjustment */
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  text-align: center;
}

.nav-link {
  color: $mainGrey;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  &:hover {
    color: $mainGreen;
  }
}

.active {
  color: $mainGreen;
}
